target/classes/*/*.class
target/**/*.class
target/test-classes/*/*.class
*.xml
target/**/*.html
target/**/*.png
target/**/*.gif
target/**/*.gif
target/**/*.txt
target/**/*.js
target/**/*.css
target/**/*.properties
